[Desktop Entry]
Name=Quadradius Launcher
Terminal=false
Type=Application
Icon=com.github.Fruktus.QuadradiusLauncher
Comment=Quadradius is a multiplayer, turn-based strategy game.
Categories=Game;
